html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  height: 100vh;
  display: flex;
  gap: 100px; /* Adjust gap as needed */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0 10vw; /* Add padding to show previous and next panels */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.panel {
  width: 80%; /* Adjust as necessary */
  height: 60%; /* Adjust as necessary */
  margin: auto; /* Centering the panel vertically */
  scroll-snap-align: center;
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  background: linear-gradient(135deg, #fffffff5, #303d6c, #ffffff98);
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
}

.card{
  font-size: 1rem;
  color: #bec4cf;
  background: linear-gradient(135deg, #0d1120 0%, #273155 43%, #0d1120 100%);
  padding: 1.5rem;
  border-radius: 1.2rem;
  backdrop-filter: blur(40px);
}
