@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #01f2ff);
  border-radius: 8px;
  
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white);
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 8px;
  background: linear-gradient(to right, transparent, #e81cff, #40c9ff);
  transform-origin: 0%;
  z-index: 999;
}


.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle, #e81cff, #40c9ff); 
  position: absolute;
  z-index: 999;
  pointer-events: none; /* Ensures it doesn't block interaction with elements */
  transition: transform 0.2s ease, background 0.4s ease; /* Smooth transitions */
  box-shadow: 0 0 15px rgba(64, 201, 255, 0.6), 0 0 30px rgba(232, 28, 255, 0.4); /* Glow effect */
  transform: scale(1); /* Normal state size */
  mix-blend-mode: difference; /* Makes it look cool over varying backgrounds */
}

/* Enlarges the cursor when hovering over clickable elements */
button:hover ~ .cursor, 
a:hover ~ .cursor {
  transform: scale(1.5); /* Cursor enlarges */
  background: radial-gradient(circle, #40c9ff, #e81cff); /* Reverse the gradient */
}



