@tailwind base;
@tailwind components;
@tailwind utilities;

/* just test  */

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #01f2ff);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white);
}
