@import "tailwindcss";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-poppins: var(--font-poppins);

  --color-primary: #03e9f4;
  --color-secondary: #ffbe7b;
  --color-mainBgColor: #010610;

  --animation-shimmer: shimmer 5s linear infinite;

  /* Keyframe variables aren't usually theme-driven; define them outside theme */
}

/* Define variables for animations and keyframes */
@layer base {
  @keyframes shimmer {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
}
/* custom style  */

::-webkit-scrollbar {
  width: 8px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #01f2ff);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, white);
}
